# ignore any video, audio, or image files
*.mp4
*.avi
*.mp3
*.flac
*.wav
*.jpg
*.png
*.gif

# ignore transcription files
*.txt
!requirements.txt

# ignore code workspaces
*.code-workspace

# ignore __pycache__ directories
__pycache__/